<footer class="footer-section" style="display: flex;flex-direction: row;padding: 10px 10px;justify-content: center;max-height: 45px;">
    <div class="col" style="display: flex;justify-content: center;align-items: center;"><i class="fa-solid fa-envelope"></i> Email: blog@support.kz</div>
    <div class="col" style="display: flex;justify-content: center;align-items: center;"><i class="fa-solid fa-phone"></i> Phone: +7-777-777-77-77</div>
    <div class="col" style="display: flex;justify-content: center;align-items: center;"><i class="fa-solid fa-paper-plane"></i> Telegram: @blog</div>
    <div class="col" style="display: flex;justify-content: center;align-items: center;"><a href="/sendMessage">Send a message</a></div>
    <div class="col" style="display: flex;justify-content: center;align-items: center;"><a href="/api-docs">API docs</a></div>
</footer>
