<!DOCTYPE html>
<html lang="en">
    <head>
		<!--    <link rel="icon" type="image/x-icon" href="img/Канэки-Кэн2.png"> -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Edit profile</title>
<!--		<link rel="stylesheet" href="public/css/index.css">-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/editprofile.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
    <body>
    	<div>
    		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="--bs-bg-opacity: 0.4;">
	            <div class="container-fluid">
	                <div style="display: flex;min-width: 100%;justify-content: space-between;align-items: center">
	                    <div>
	                        <a href="/" class="nav-link text-light cs">Blog</a>
	                    </div>
	                    <div style="display: flex;align-content: center">
	                        <input name="search" placeholder="Search" autocomplete="none" style="max-height: 40px;">
	                    </div>
	                    <div class="justify-content-end">
	                        <ul class="navbar-nav">
	                            <li class="nav-item">
	                                <a class="nav-link text-uppercase text-light ashvr txttheme cs" href="/"><i class="fas fa-home"></i></a>
	                            </li>
	                            <li class="nav-item">
	                                <a class="nav-link text-uppercase text-light ashvr txttheme cs" href="/profile"><i class="fas fa-user"></i></a>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </nav>
			<div style="margin-top: 56px;">
				<div class="main">
					<div class="main2">
						<ul class="ul1">
							<li>
								<a class="hard HRM" href="/accounts/edit/" tabindex="0">Редактировать профиль</a>
							</li>
							<li>
								<a class="hard fuQUr" href="/accounts/password/change/" tabindex="0">Сменить пароль</a>
							</li>
						</ul>
						<article class="article1">
							<div class="C_9MP">
<!--								<div style="height: 38px;width: 38px;margin: 2px 32px 0 124px;">-->
<!--									<div style="background-color: white;border-radius: 50%;height: 100%;margin: 0 auto;width: 100%;">-->
<!--										<button style="border: 0;cursor: pointer;padding: 0;height: 100%;width: 100%;font-size: 14px;line-height: 18px;" title="Добавить фото профиля"><img alt="Добавить фото профиля" class="be6sR" src="https://scontent-cph2-1.cdninstagram.com/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=scontent-cph2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=yZCkKvAeuFAAX9qN5iU&amp;edm=AK7ZRuABAAAA&amp;ccb=7-4&amp;ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-4&amp;oh=00_AT_Hu8k8C1OhIcQVro9NYSCuNKl9RfKXZRIQ6-MDfsCgCw&amp;oe=6266040F&amp;_nc_sid=7ddff2"></button>-->
<!--										<div>-->
<!--											<form enctype="multipart/form-data" method="POST" role="presentation">-->
<!--												<input accept="image/jpeg,image/png" class="tb_sK" type="file">-->
<!--											</form>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
								<div class="XXX1Wc">
									<h1 class="kHYQv" title="nkadirgali">nkadirgali</h1>
<!--									<button style="text-align: left;border: 0;color: #0095f6;display: inline-block;appearance: none;background: 0 0;cursor: pointer;font-size: 14px;font-weight: 600;text-overflow: ellipsis;text-transform: inherit;user-select: none;" type="button">Изменить фото профиля</button>-->
									<div style="">
										<form enctype="multipart/form-data" method="POST" role="presentation">
											<input accept="image/jpeg,image/png" class="tb_sK" type="file">
										</form>
									</div>
								</div>
							</div>
							<form class="kWXsT" method="POST">
								<div class="eE-OA">
									<aside class="sxIVS  ">
										<label for="pepName">Имя</label>
									</aside>
									<div class="ada5V">
										<div class="               AC7dP        Igw0E     IwRSH      eGOV_         _4EzTm" style="width: 100%; max-width: 355px;">
											<input aria-required="false" id="pepName" placeholder="Имя" type="text" class="JLJ-B zyHYP" value="Нурдаулет Кадиргали">
											<div class="             qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                                                        aGBdT                                                  " style="width: 100%; max-width: 355px;">
												<div class="             qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                                                                                                        ">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="eE-OA">
									<aside class="sxIVS  "><label for="pepUsername">Имя пользователя</label></aside>
									<div class="ada5V">
										<div class="               AC7dP        Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              " style="width: 100%; max-width: 355px;">
											<input aria-required="true" id="pepUsername" placeholder="Имя пользователя" type="text" class="JLJ-B zyHYP" value="nkadirgali">
											<div class="             qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                                                        aGBdT                                                  " style="width: 100%; max-width: 355px;">
												<div class="             qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm      MGdpg                                                                                                        ">
												</div>
												<div class="_7UhW9  PIoXz       MMzan    _0PwGv          uL8Hv         "></div>
											</div>
										</div>
									</div>
								</div>
<!--								<div class="eE-OA">-->
<!--									<aside class="sxIVS  "><label for="pepWebsite">Веб-сайт</label></aside>-->
<!--									<div class="ada5V">-->
<!--										<div class="               AC7dP        Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              " style="width: 100%; max-width: 355px;">-->
<!--											<input aria-required="false" id="pepWebsite" placeholder="Веб-сайт" type="text" class="JLJ-B zyHYP" value="">-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
								<div class="eE-OA">
									<aside class="sxIVS  "><label for="pepBio">О себе</label></aside>
									<div class="ada5V"><textarea class="p7vTm" id="pepBio"></textarea></div>
								</div>
<!--								<div class="eE-OA">-->
<!--									<aside class="sxIVS  tvweK"><label></label></aside>-->
<!--									<div class="ada5V">-->
<!--										<div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm aGBdT " style="width: 100%; max-width: 355px;">-->
<!--											<div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm pjcA_ ">-->
<!--												<h2 class="JJF77">Личная информация</h2>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
								<div class="eE-OA">
									<aside class="sxIVS  "><label for="pepEmail">Эл. адрес</label></aside>
									<div class="ada5V">
										<div class="               AC7dP        Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              " style="width: 100%; max-width: 355px;">
											<input aria-required="false" id="pepEmail" placeholder="Эл. адрес" type="text" class="JLJ-B zyHYP" value="nkadirgali@list.ru">
										</div>
									</div>
								</div>
								<div class="eE-OA">
									<aside class="sxIVS  "><label for="pepPhone Number">Номер телефона</label></aside>
									<div class="ada5V">
										<div class="               AC7dP        Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              " style="width: 100%; max-width: 355px;">
											<input aria-required="false" id="pepPhone Number" placeholder="Номер телефона" type="text" class="JLJ-B zyHYP" value="+7 705 821 1569">
										</div>
									</div>
								</div>
								<div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm ">
									<div class="eE-OA">
										<aside class="sxIVS  "><label for="pepGender">Пол</label></aside>
										<div class="ada5V">
											<div class="             qF0y9          Igw0E _56XdI          eGOV_        vwCYk                                                                                                               " style="max-width: 355px;">
												<select id="pepGender">
													<option value="male">Male</option>
													<option value="female">Female</option>
													<option value="prefNotToSay">Prefer Not To Say</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="eE-OA">
									<aside class="sxIVS tvweK"><label></label></aside>
									<div class="ada5V">
										<div class="fi8zo">
											<button class="sqdOP L3NKy y3zKF" disabled="" type="button">Отправить</button>
										</div>
									</div>
								</div>
							</form>
						</article>
					</div>
				</div>
			</div>
			<footer class="footer-section">
				<div class="footer-container">
					<div class="menu">
						<h2 class="footer-text">Blog</h2>
					</div>
					<div class="menu">
						<h2>Contacts</h2>
						<div class="menu-items">
							<p><i class="fa-solid fa-envelope"></i> Email: blog@support.kz</p>
							<p><i class="fa-solid fa-phone"></i> Phone: +7-777-777-77-77</p>
							<p><i class="fa-solid fa-paper-plane"></i> Telegram: @blog</p>
							<a href="/sendMessage">Send a message</a>
						</div>
					</div>
				</div>
			</footer>
    	</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://kit.fontawesome.com/a11c966e05.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>