<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/links1');%>
		<title>Login</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body style="height: 100%;margin: 0;">
		<div style="width: 100%;margin: 0 auto;">
			<div style="width: 100%;min-height: 100vh;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;padding: 15px;background: linear-gradient(to top right,red 0%,blue 100%);">
				<div style="width: 500px;background: white;border-radius: 10px;overflow: hidden;padding: 54px 55px;padding-top: 65px;">
					<form method="post" action="/user/login" class="login100-form validate-form" style="width: 100%;display: block;">
						<div style="min-width: 100%;justify-content: center;display: flex;">
							<span style="font-size: 39px;color: #333333;min-width: 100%;line-height: 1.2;text-align: center;padding-bottom: 49px;">Login</span>
						</div>

						<div class="wrap-input100 validate-input m-b-23" style="width: 100%;margin-bottom: 23px;" data-validate = "Username is reauired">
							<input style="font-size: 16px;color: #333333;line-height: 1.2;display: block;width: 100%;height: 55px;background: transparent;padding: 0 7px 0 7px;outline: none;border-radius: 55px;" type="text" name="username" placeholder="Type your username">
						</div>

						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<input style="font-size: 16px;color: #333333;line-height: 1.2;display: block;width: 100%;height: 55px;background: transparent;padding: 0 7px 0 7px;outline: none;border-radius: 55px;" type="password" name="password" placeholder="Type your password">
						</div>
						
						<div style="padding-bottom: 31px;padding-top: 8px;text-align: right;">
							<a href="#">
								Forgot password?
							</a>
						</div>
						<div>
							<%= message%>
						</div>
						<div style="display: flex;flex-wrap: wrap;justify-content: center;" id="pri1">
							<div style="border-radius: 25px;margin: 0 auto;width: 100%;display: block;position: relative;z-index: 1;border-radius: 25px;margin: 0 auto;overflow: hidden;">
								<div style="position: absolute;z-index: -1;width: 300%;height: 100%;background: linear-gradient(to right, #00dbde, #fc00ff, #00dbde, #fc00ff);left: -100%;transition: all 0.4s;top: 0;transition: all 0.4s;"></div>
								<button style="font-size: 16px;color: white;line-height: 1.2;text-transform: uppercase;display: flex;justify-content: center;align-items: center;padding: 0 20px;width: 100%;height: 50px;outline: none;border: none;background: transparent;" type="submit">
									Login
								</button>
							</div>
						</div>
						<div style="display: flex;flex-direction: column;align-items: center;padding-top: 15px;">
							<span style="font-size: 14px;/* line-height: 1.5px; */color: #666666;padding-bottom: 17px;height: 38px;">Don't you have an account yet?</span>

							<a href="/register" style="font-size: 14px;/* line-height: 1.5px; */text-transform: uppercase;text-decoration: none;background-color: transparent;">Sign Up</a>
						</div>
						<div class="col" style="margin-top: 10px;">
							<div class="card">
								<div class="card-body">
									<a class="btn btn-block" href="/auth/google" role="button">
										<i class="fab fa-google"></i>
										Sign In with Google
									</a>
								</div>
							</div>
						</div>
						<a href="/auth/google" style="display: flex;flex-direction: row;padding: 0px 2px 0px 0px;border: 1px solid rgb(66, 133, 244);border-radius: 2px;width: 100%;box-sizing: content-box;cursor: pointer;background-color: rgb(66, 133, 244);margin-top: 10px;text-decoration: none;">
							<svg width="40" height="40">
								<g id="Google-Button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="40" height="40" rx="2" style="fill: rgb(255, 255, 255);"></rect>
									<g id="logo_googleg_48dp" transform="translate(10.5, 10.5) scale(1.1)">
										<path d="M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727  17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z" id="Shape" fill="#4285F4"></path>
										<path d="M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727  3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182  C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z" id="Shape" fill="#34A853"></path>
										<path d="M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9  C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182  L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727  0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z" id="Shape" fill="#FBBC05"></path>
										<path d="M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455  L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0  2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727  6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z" id="Shape" fill="#EA4335"></path>
										<path d="M0,0 L18,0 L18,18 L0,18 L0,0 Z" id="Shape"></path>
									</g>
								</g>
							</svg>
							<div style="flex-grow: 1;height: 40px;width: 100%;display: flex;justify-content: center;">
								<div style="color: white;font-size: 13px;font-weight: bold;line-height: 40px;height: 40px;">Log in with Google</div>
							</div>
						</a>
					</form>
				</div>
			</div>
		</div>
		<%- include('includes/footer');%>
	</body>
</html>