<!--        <footer class="footer-section">-->
<!--            <div class="footer-container">-->
<!--                <div class="menu">-->
<!--                    <h2 class="footer-text">Blog</h2>-->
<!--                </div>-->
<!--                <div class="menu">-->
<!--                    <h2>Contacts</h2>-->
<!--                    <div class="menu-items">-->
<!--                        <p><i class="fa-solid fa-envelope"></i> Email: blog@support.kz</p>-->
<!--                        <p><i class="fa-solid fa-phone"></i> Phone: +7-777-777-77-77</p>-->
<!--                        <p><i class="fa-solid fa-paper-plane"></i> Telegram: @blog</p>-->
<!--                        <a href="/sendMessage">Send a message</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
<!--        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">-->
<!--            <div class="container-fluid">-->
<!--                <a class="navbar-brand" href="#">Contact</a>-->
<!--            </div>-->
<!--        </nav>-->

<!--    <link rel="icon" type="image/x-icon" href="img/Канэки-Кэн2.png"> -->

<!--								<div style="height: 38px;width: 38px;margin: 2px 32px 0 124px;">-->
<!--									<div style="background-color: white;border-radius: 50%;height: 100%;margin: 0 auto;width: 100%;">-->
<!--										<button style="border: 0;cursor: pointer;padding: 0;height: 100%;width: 100%;font-size: 14px;line-height: 18px;" title="Добавить фото профиля"><img alt="Добавить фото профиля" class="be6sR" src="https://scontent-cph2-1.cdninstagram.com/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=scontent-cph2-1.cdninstagram.com&amp;_nc_cat=1&amp;_nc_ohc=yZCkKvAeuFAAX9qN5iU&amp;edm=AK7ZRuABAAAA&amp;ccb=7-4&amp;ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-4&amp;oh=00_AT_Hu8k8C1OhIcQVro9NYSCuNKl9RfKXZRIQ6-MDfsCgCw&amp;oe=6266040F&amp;_nc_sid=7ddff2"></button>-->
<!--										<div>-->
<!--											<form enctype="multipart/form-data" method="POST" role="presentation">-->
<!--												<input accept="image/jpeg,image/png" class="tb_sK" type="file">-->
<!--											</form>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--									<button style="text-align: left;border: 0;color: #0095f6;display: inline-block;appearance: none;background: 0 0;cursor: pointer;font-size: 14px;font-weight: 600;text-overflow: ellipsis;text-transform: inherit;user-select: none;" type="button">Изменить фото профиля</button>-->

<!--								<div class="eE-OA">-->
<!--									<aside class="sxIVS  "><label for="pepWebsite">Веб-сайт</label></aside>-->
<!--									<div class="ada5V">-->
<!--										<div class="               AC7dP        Igw0E     IwRSH      eGOV_         _4EzTm                                                                                                              " style="width: 100%; max-width: 355px;">-->
<!--											<input aria-required="false" id="pepWebsite" placeholder="Веб-сайт" type="text" class="JLJ-B zyHYP" value="">-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--								<div class="eE-OA">-->
<!--									<aside class="sxIVS  tvweK"><label></label></aside>-->
<!--									<div class="ada5V">-->
<!--										<div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm aGBdT " style="width: 100%; max-width: 355px;">-->
<!--											<div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm pjcA_ ">-->
<!--												<h2 class="JJF77">Личная информация</h2>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

<!--        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">-->
<!--            <div class="container-fluid">-->
<!--                <a class="navbar-brand" href="#">Contact</a>-->
<!--            </div>-->
<!--        </nav>-->

<!--<a aria-selected="true" style="margin-right: 60px;color: #262626;align-items: center;margin-top: -1px;height: 52px;text-transform: uppercase;justify-content: center;text-decoration: none;" role="tab" href="/nkadirgali/" tabindex="0">-->
<!--                        <span class="smsjF">-->
<!--                            <svg aria-label="" class="_8-yf5 " color="#262626" fill="#262626" height="12" role="img" viewBox="0 0 24 24" width="12">-->
<!--                                <rect fill="none" height="18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line>-->
<!--                            </svg>-->
<!--                            <span class="PJXu4">Публикации</span>-->
<!--                        </span>-->
<!--</a>-->
<!--<a aria-selected="false" style="margin-right: 60px;color: #262626;align-items: center;margin-top: -1px;height: 52px;text-transform: uppercase;justify-content: center;text-decoration: none;" role="tab" href="/nkadirgali/saved/" tabindex="0">-->
<!--    <div class="qF0y9 Igw0E rBNOH eGOV_ ybXk5 _4EzTm">-->
<!--        <svg aria-label="" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg><span class="W9_iZ">Сохраненное</span>-->
<!--    </div>-->
<!--</a>-->
<!--<a aria-selected="false" style="margin-right: 60px;color: #262626;align-items: center;margin-top: -1px;height: 52px;text-transform: uppercase;justify-content: center;text-decoration: none;" role="tab" href="/nkadirgali/tagged/" tabindex="0">-->
<!--                        <span class="qzihg">-->
<!--                            <svg aria-label="" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12">-->
<!--                                <path d="M10.201 3.797L12 1.997l1.799 1.8a1.59 1.59 0 001.124.465h5.259A1.818 1.818 0 0122 6.08v14.104a1.818 1.818 0 01-1.818 1.818H3.818A1.818 1.818 0 012 20.184V6.08a1.818 1.818 0 011.818-1.818h5.26a1.59 1.59 0 001.123-.465z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>-->
<!--                                <path d="M18.598 22.002V21.4a3.949 3.949 0 00-3.948-3.949H9.495A3.949 3.949 0 005.546 21.4v.603" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>-->
<!--                                <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>-->
<!--                            </svg>-->
<!--                            <span class="_08DtY">Отметки</span>-->
<!--                        </span>-->
<!--</a>-->

<!--<footer class="footer-section">-->
<!--    <div class="footer-container">-->
<!--        <div class="menu">-->
<!--            <h2 class="footer-text">Blog</h2>-->
<!--        </div>-->
<!--        <div class="menu">-->
<!--            <h2>Contacts</h2>-->
<!--            <div class="menu-items">-->
<!--                <p><i class="fa-solid fa-envelope"></i> Email: blog@support.kz</p>-->
<!--                <p><i class="fa-solid fa-phone"></i> Phone: +7-777-777-77-77</p>-->
<!--                <p><i class="fa-solid fa-paper-plane"></i> Telegram: @blog</p>-->
<!--                <a href="/sendMessage">Send a message</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<!--            <div style="align-items: center;border-top: 1px solid rgb(219,219,219);color: #8e8e8e;display: flex;flex-direction: row;font-size: 12px;justify-content: center;text-align: center;letter-spacing: 1px;" role="tablist">-->
<!--                <a aria-selected="true" style="margin-right: 60px;color: #262626;align-items: center;margin-top: -1px;height: 52px;text-transform: uppercase;justify-content: center;text-decoration: none;" role="tab" href="/nkadirgali/" tabindex="0">-->
<!--                        <span class="smsjF">-->
<!--                            <svg aria-label="" class="_8-yf5 " color="#262626" fill="#262626" height="12" role="img" viewBox="0 0 24 24" width="12">-->
<!--                                <rect fill="none" height="18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="18" x="3" y="3"></rect>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="9.015" x2="9.015" y1="3" y2="21"></line>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="14.985" x2="14.985" y1="3" y2="21"></line>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="9.015" y2="9.015"></line>-->
<!--                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="14.985" y2="14.985"></line>-->
<!--                            </svg>-->
<!--                            <span class="PJXu4">Публикации</span>-->
<!--                        </span>-->
<!--                </a>-->
<!--                <a aria-selected="false" style="margin-right: 60px;color: #262626;align-items: center;margin-top: -1px;height: 52px;text-transform: uppercase;justify-content: center;text-decoration: none;" role="tab" href="/nkadirgali/saved/" tabindex="0">-->
<!--                    <div class="             qF0y9          Igw0E   rBNOH        eGOV_     ybXk5    _4EzTm                                                                                                              ">-->
<!--                        <svg aria-label="" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg><span class="W9_iZ">Сохраненное</span>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <a aria-selected="false" style="margin-right: 60px;color: #262626;align-items: center;margin-top: -1px;height: 52px;text-transform: uppercase;justify-content: center;text-decoration: none;" role="tab" href="/nkadirgali/tagged/" tabindex="0">-->
<!--                        <span class="qzihg">-->
<!--                            <svg aria-label="" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 24 24" width="12">-->
<!--                                <path d="M10.201 3.797L12 1.997l1.799 1.8a1.59 1.59 0 001.124.465h5.259A1.818 1.818 0 0122 6.08v14.104a1.818 1.818 0 01-1.818 1.818H3.818A1.818 1.818 0 012 20.184V6.08a1.818 1.818 0 011.818-1.818h5.26a1.59 1.59 0 001.123-.465z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>-->
<!--                                <path d="M18.598 22.002V21.4a3.949 3.949 0 00-3.948-3.949H9.495A3.949 3.949 0 005.546 21.4v.603" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>-->
<!--                                <circle cx="12.072" cy="11.075" fill="none" r="3.556" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>-->
<!--                            </svg>-->
<!--                            <span class="_08DtY">Отметки</span>-->
<!--                        </span>-->
<!--                </a>-->
<!--            </div>-->

<!--						<div style="display: flex;flex-direction: column;align-items: center;padding-top: 15px;">-->
<!--							<span style="font-size: 14px;line-height: 1.5px;color: #666666;padding-bottom: 17px;font-weight: 400;height: 38px;">Don't you have an account yet?</span>-->

<!--							<a href="register" style="font-size: 14px;line-height: 1.5px;text-transform: uppercase;text-decoration: none;background-color: transparent;">Sign Up</a>-->
<!--						</div>-->